$white: #FFFFFF;
$black: #000000;
$blue: #85b7d9;
$blue-1: #6C9CBD;
$blue-2: #3B82B3;
$grey: #FAFAFA;
$grey-1: #4C575D;
$grey-2: #4B4C5C;
$grey-3: #F3F2F2;
$grey-4: #DDDDDD;
$yellow: #DEED3B;
$red: #E22323
